<form action=<%="/room/updateRoom/" + data._id%> method="POST" class="border p-2">
<!-- <form action=<%#="/record/record/edit&" + data._id%>  method="POST" class="border p-2"> -->
    <div class="form-group">
        <label for="roomName">Room Name:</label>
        <input type="text" class="form-control" id="roomName" name="roomName"  value=<%=data.roomName%>>
    </div>
    <div class="form-group">
        <label for="roomPic">Room Picture:</label>
        <input type="text" class="form-control" id="roomPic" name="roomPic"  value=<%=data.roomPic%>>
    </div>
    <div class="form-group">
        <label for="capacity">Capacity:</label>
        <input type="number" class="form-control" id="capacity" name="capacity" value=<%=data.capacity%>>
    </div>
    <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" class="form-control" id="price" name="price" value=<%=data.price%>>
    </div>
    <div class="form-group">
        <label for="category">Category:</label>
        <select class="w-100" id="category" name="category">
            <%if(data.category=='deluxe'){%>
                <option value="normal">normal</option>
                <option value="deluxe" selected>deluxe</option>
            <%}else{%>
                <option value="normal" selected>normal</option>
                <option value="deluxe">deluxe</option>
            <%}%>
        </select>
    </div>
    <div class="form-group">
        <label for="available">Available:</label>
        <select class="w-100" id="available" name="available">
            <%if(data.available==true){%>
                <option value="true" selected>true</option>
                <option value="false">false</option>
            <%}else{%>
                <option value="true">true</option>
                <option value="false" selected>false</option>
            <%}%>
        </select>
    </div>
    <input type="submit" class="btn btn-primary mt-1" value="Submit">
</form>