<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="container">
        <h1>Reservations View Page</h1>
        <div class="d-flex flex-wrap gap-2">
            <div class="card p-1">
                <div class="card-body">
                    <h5 class="card-title">Room Name: <%=rooms.roomName%></h5>
                    <p class="card-text">Capacity: <%=rooms.capacity%></p>
                    <p class="card-text">Price: <%=rooms.price%></p>
                    <p class="card-text">Category: <%=rooms.category%></p>
                    <p class="card-text">Available: <%=rooms.available%></p>
                    <p class="card-text">Reservation Id: <%=data._id%></p>
                    <p class="card-text">Customer Name: <%=data.customerName%></p>
                    <p class="card-text">Customer Email: <%=data.customerEmail%></p>
                    <p class="card-text">Customer Mobile: <%=data.customerMobile%></p>
                    <p class="card-text">CheckIn Date: <%=data.checkInDate%></p>
                    <p class="card-text">CheckOut Date: <%=data.checkOutDate%></p>
                </div>
            </div>
        </div>
        <a href="/reservation" class="btn btn-dark mt-1">Back</a>
    </div>
    <%- include('./partials/footer.ejs') %>
